*{
    margin: 0;
    padding: 0;
}

.cabeçalho{
    background-color: rgba(173, 191, 155, 1);
    color: black;
    display:flex;
    justify-content:space-around;
    padding: 16px 0;
    align-items: center;
    }

.imagem-logo{
    width: 35%;
    padding: 0 45px;
}
.cabeçalho-titulo{
    color: black;
    display: flex;
    align-items: center;
    font-size: 80px;
    font-family: Brush Script MT;
}

.elementos{
    display:inline-block;
    margin: 0 16px;
    font-size: 24px;
}

.imagem-2{
    width: 20%;
}

.empresa{
    background: linear-gradient (#A1CD9D, #F6FFF5);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 24px o;
}

