*{
    margin: 0;
    padding: 0;
}

.cabeçalho{
    background-color: rgba(173, 191, 155, 1);
    color: rgb(3, 65, 65);
    display:flex;
    justify-content:space-around;
    padding: 16px 0;
    align-items: center;
    }

.imagem-logo{
    width: 35%;
    padding: 0 15px;
}
.cabeçalho-titulo{
    color: rgb(3, 65, 65);
    display: flex;
    align-items: center;
    font-size: 80px;
    font-family: Brush Script MT;
}

.elementos{
    display:inline-block;
    margin: 0 16px;
    font-size: 24px;
}

